{% extends 'user/layout2.html' %}
{% block body %}
<body class="h-100">
<nav class="navbar navbar-expand-lg navbar-light bg-white bar">
  <a class="navbar-brand chatup" style="color: #3F4682; font-size:25px;" href="{% url 'user:index' %}">
    <img src="https://i.imgur.com/d09bZgy.png" width="30px">
    ChatUp
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <form action="{% url 'searchFriend:searchFriend'%}" method="get" class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" name="search">
      <button class="btn btn-outline-dark my-2 my-sm-0" type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
    </form>
    <ul class="navbar-nav ml-auto">
      <!-- Notification -->
      <li class="nav-item">
        <a class="nav-link text-dark mx-3 align-middle" href="{% url 'user:noti' %}"><i class="fa-solid fa-bell"></i></a>
      </li>
      <!-- Message -->
      <li class="nav-item">
        <a class="nav-link text-dark mx-3 align-middle" href="{% url 'chat:index' %}"><i class="fa-solid fa-envelope"></i></a>
      </li>
      <!-- OpenChat -->
      <li class="nav-item">
        <a class="nav-link text-dark mx-3 align-middle" href="{% url 'openchat:index' %}"><i class="fa-solid fa-comments"></i></a>
      </li>
      <!-- Profile -->
      <li class="nav-item">
        <a class="nav-link text-dark mx-3 align-middle" href="{% url 'user:profile' %}"><i class="fa-solid fa-user"></i></a>
        <!-- <img src="{{ user.profileimg }}" class="profileimg" style="width: 30px; height: 30px;"> -->
      </li>
      <!-- Setting -->
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle text-dark mx-3 align-middle" href="{% url 'user:profile' %}" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <i class="fa-solid fa-gear"></i>
        </a>
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="{% url 'user:edit_profile' %}"><i class="fa-solid fa-pen-to-square"></i> Edit Profile</a>
          <a class="dropdown-item" href="{% url 'user:change_password' %}"><i class="fa-solid fa-lock"></i> Change Password</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item text-danger" href="{% url 'user:signout' %}"><i class="fa-solid fa-right-from-bracket"></i> Sign Out</a>
        </div>
      </li>
    </ul>
  </div>
</nav>

<section>
    <div class="text-center mt-4">
      <p class="header">Change Password</p>
        <div class="container w-50">
          <form action="#" method="POST">
            {% csrf_token %}
            {% if message %}
            <div class="alert alert-danger" role="alert">
              {{ message }}
            </div>
            {% endif %}
            <div class="form-group text-left ">
              <label>Current password</label>
              <input required type="password" class="form-control d-flex justify-content-center" name="current_password" placeholder="Current password">
            </div>
            <div class="form-group text-left mt-3">
              <label>New Password</label>
              <input required type="password" class="form-control d-flex justify-content-center" name="new_password" placeholder="New Password">
            </div>
            <div class="form-group text-left mt-3">
              <label>Confirm password</label>
              <input required type="password" class="form-control d-flex justify-content-center" name="con_password" placeholder="Confirm password">
            </div>
            <button type="submit" class="btn text-light" style="background-color: #3F4682;">Change password</button>
          </form>
        </div>
    </div>
</section>
</body>
{% endblock %}