@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins';
}
body{
    background-color: #f0f0f0;
    font-family: sans-serif;
}
img{
    width: 100%;
    height: auto;
}
.img-wrapper{
    width: 100%;
}
.avatar-pic, .group-pic {
    border-radius: 50%;
    width: 100%;
    height: 100%;
}
i{
    color: #3f4682;
}
.navbar {
    width: 100%;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

nav img {
    width: 30px;
    height: 30px;
    margin: auto;
}

nav p {
    margin: 0px 0px 0px 7px;
    font-size: 25px;
    font-weight: bold;
}

.navbar a {
    float: left;
    padding: 12px;
    text-decoration: none;
    font-size: 17px;
}

.navbar .form-control{
    margin-top: 0;
}

@media screen and (max-width: 500px) {
    .navbar a {
        float: none;
        display: block;
    }
}

a{
    color: #000000;
}
a:hover{
    text-decoration: none;
    color: #000000;
}
.container{
    width: 100%;
    margin: 0 auto;
}
.container img.avatar-pic{
    border-radius: 50%;
}
.openchat-members img{
    width: 50px;
    height: 50px;
}
.main{
    width: 100%;
    display: flex;
}
.col-user{
    width: 40%;
    height: 620px;
    background-color: #ffffff;
    border: 1px solid #dbdbdb;
}
.col-openchat{
    width: 60%;
    height: 620px;
    background-color: #ffffff;
    border: 1px solid #dbdbdb;
}
.date{
    text-align: center;
    padding-top: 10px;
}
.date-time{
    background-color: #dbdbdb;
    border-radius: 20px;
    padding: 2px 7px;
    font-size: 12px;
    font-weight: bold;
}
.header-user{
    width: 100%;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #dbdbdb;
    font-weight: 600;
}
.header-user i{
    float: left;
    margin-left: 2rem;
    margin-top: 4px;
}
.header-user a{
    cursor: pointer;
}
.header-user span{
    margin-left: -2rem;
}
.content-user{
    padding: 24px;
    height: 500px;
    overflow: auto;
}
.user-openchat{
    margin-top: 25px;
}
.user-openchat a{
    text-decoration: none;
    color: #000000;
}
.user-openchat a:hover{
    text-decoration: none;
    color: #000000;
}
.user-openchat:hover{
    color: #000000;
    background-color: #dbdbdb;
    padding: 0.2rem;
    border-radius: 20px;
}
.img-wrapper{
    width: 50px;
    height: 50px;
}
.text-openchat-user{
    margin-left: 10px;
}
.header-openchat{
    width: 100%;
    padding-top: 12px;
    padding-bottom: 12px;
    border-bottom: 1px solid #dbdbdb;
    font-weight: 600;
}
.openchat-username{
    font-weight: 500;
}
.openchat-time{
    font-size: 14px;
}
.img-wrapper-openchat{
    width: 40px;
    height: 40px;
}
.content-header-openchat{
    margin-left: 24px;
}
.text-header-openchat{
    margin-left: 10px;
}
.content-openchat{
    padding: 20px;
    height: 450px;
    overflow: auto;
}
.openchat{
    display: flex;
    margin-top: 1rem;
}
.in-openchat-time{
    font-size: 10px;
    padding-left: .5rem;
    margin-top: auto;
}
.user-name{
    font-size: 12px;
    font-weight: 500;
    margin-left: .7rem;
}
.openchat-box{
    max-width: 300px;
    margin-left: 10px;
    background-color: #f4e4c8;
    padding: 0.7rem;
    border-radius: 30px;
    font-size: 12px;
    font-weight: 600;
}
.openchat-reply-wrapper{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: flex-end;
    margin-top: 1rem;
    margin-bottom: 0;
}
.openchat-reply{
    float: right;
    max-width: 300px;
    background-color: #3f4682;
    padding-top: 12px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 30px;
    font-size: 12px;
    color: #ffffff;
}
.in-reply-time{
    font-size: 10px;
    padding-right: .5rem;
    margin-top: auto;
}
.input-openchat{
    display: flex;
    margin-top: 1rem;
}
.input-openchat button{
    border: none;
    background-color: transparent;
    margin: 0.7rem;
}
.input-openchat-box{
    width: 90%;
    padding: 10px;
    border: 1px solid #dbdbdb;
    border-radius: 20px;
    margin-left: 20px;
}
.input-openchat-box i{
    margin-left: 10px;
}
.input{
    height: fit-content;
    width: 80%;
    border: 0px solid transparent;
    outline: none;
    margin-top: 0.5rem;
    margin-left: 10px;
}
.modal-body{
    font-size: 18px;
}
.delete-btn{
    font-size: 12px;
    background: transparent;
    border: none;
    padding: 0;
}
.delete-btn:hover{
    color: transparent;
    background: transparent;
    outline: none;
}

/*--------- create openchat ---------*/
.create-openchat.wrapper {
    background: #ffffff;
    border-radius: 10px;
    padding: 50px;
    width: 50%;
    margin: auto;
}
.create-openchat label{
    font-size: 18px;
}
h2 {
    color: #3f4682;
    font-size: 40px;
    font-weight: bold;
}
.create-openchat.wrapper form {
    margin: 40px 0;
    width: 100%;
}
form input {
    height: 40px;
    width: 100%;
    border: none;
    outline: none;
    margin-top: 1rem;
    border-bottom: 2px solid black;
    font-size: 18px;
}
.submit-btn {
    border-bottom: none;
    background-color: #3F4682;
    color: #ffffff;
    border-radius: 10px;
}

/*--------- openchat (index) ---------*/
ul li {
    list-style: none;
}
.openchat {
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.openchat-wrapper {
    background: #ffffff;
    border-radius: 10px;
    padding: 50px;
    width: 40%;
    margin: auto;
    font-size: 18px;
}
a {
    color: #3F4682;
}
.my-openchat a, .all-openchat a {
    color: #3F4682;
    padding: .5rem;
}
.my-openchat a:hover, .all-openchat a:hover {
    color: #000000;
    background-color: #dbdbdb;
    border-radius: 20px;
}
.my-openchat p {
    color: #3F4682;
    font-weight: 500;
}
.all-openchat p {
    color: #3F4682;
    font-weight: 500;
}

/*--------- update openchat ---------*/
.update-openchat {
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.update-openchat.wrapper {
    background: #ffffff;
    border-radius: 10px;
    padding: 50px;
    width: 70%;
    margin: auto;
}
.update-openchat.wrapper form {
    margin: 40px 0;
    width: 100%;
}
.update-openchat label{
    font-size: 20px;
    font-weight: 500;
}

.update-openchat .remove{
    font-weight: 500;
    margin-top: 2rem;
    margin-left: 2rem;
}