{% extends 'openchat/layout.html' %}
{% block body %}

{% load static %}

<div class="container mt-2">
    <div class="main">

        <!---------- Chat Room List ฝั่งที่เป็นรายชื่อห้องแชท (ซ้าย) ---------->
        <div class="col-user mt-2">
            <div class="header-user">
                <a href="{% url 'openchat:index' %}"><i class="fa-solid fa-angle-left ps-7"></i></a>
                <span>{{ user_info }}</span>
            </div>
            <div class="content-user">
                <span><b>Message</b></span>
                {% for openchat in openchats %}
                <hr>
                <div class="user-openchat">
                    <a class="d-flex" href="{% url 'openchat:view_openchat' openchat.id  %}">
                        <div class="img-wrapper">
                            <img src="{{ openchat.group_image.url }}" width="90px" class="avatar-pic" alt="avatar">
                        </div>
                        <div class="text-openchat-user">
                            <span class="openchat-username">{{ openchat.name }}</span>
                            <span class="group-members">({{ openchat.members.count }})</span>
                            <br>
                            <span class="openchat-time text-muted" id="lastest_chat-{{ openchat.id }}">{{ openchat.lastest_message|slice:":20" }}...</span>
                        </div>
                    </a>
                </div>
                {% endfor %}
            </div>
        </div>

        <!---------- Chat Column ฝั่งที่เป็นห้องแชท (ขวา) ---------->
        <div class="col-openchat mt-2">
            <!---------- Chat Header ชื่อเพื่อน/ห้องแชทที่เรากดเข้ามาดู ---------->
            <div class="header-openchat d-flex">
                <div class="content-header-openchat">
                    <div class="img-wrapper-openchat">
                        <img src="{{ openchat.group_image.url }}" width="80px" class="avatar-pic" alt="avatar">
                    </div>
                </div>
                <div class="text-header-openchat mt-2">
                    <span class="username">{{ openchat.name }}</span>
                    <span class="group-members">({{ openchat.members.count }})</span>
                </div>

                <!-- setting menu -->
                <span class="d-flex align-items-center justify-content-center p-1 mx-2 setting-menu"
                    style="width: 38px; height: 38px; object-fit: cover" id="setting-menu" data-bs-toggle="dropdown"
                    aria-expanded="false" type="button" data-bs-auto-close="outside">
                    <i class="fa-solid fa-gear"></i>
                </span>
                <!-- setting dropdown -->
                <ul class="dropdown-menu shadow p-3 m-1" aria-labelledby="setting-menu">
                    <div class="setting-dropdown">
                        <div>
                            <a href="{% url 'openchat:update_openchat' openchat.id  %}" class="d-flex text-decoration-none p-1">
                                <p class="m-0">OpenChat Detail</p>
                            </a>
                        </div>
                        <div>
                            <a href="{% url 'openchat:leave_openchat' openchat.id  %}" class="d-flex text-decoration-none p-1">
                                <p class="m-0 text-danger">Leave OpenChat</p>
                            </a>
                        </div>
                        {% if openchat.created_by == user_info %}
                        <div>
                            <a href="{% url 'openchat:delete_openchat' openchat.id %}" class="d-flex text-decoration-none p-1">
                                <p class="m-0 text-danger">Delete OpenChat</p>
                            </a>
                        </div>
                        {% endif %}
                    </div>
                </ul>
            </div>

            <!---------- Chat Content แชททั้งหมด ---------->
            <div class="content-openchat" id="chat-log">
                <!---------- Chat แชทที่เพื่อนในกลุ่มคุยกัน ---------->
                {% for message in messages %}

                {% if message.show_date != None %}
                <div class="date">
                    <span class="date-time text-muted">{{ message.show_date }}</span>
                </div>
                {% endif %}

                {% if message.created_by != user_info %}
                <div class="openchat">
                    <div class="img-wrapper-openchat mb-0">
                        <img src="{{ message.created_by.profile_image.url }}" width="40px" class="avatar-pic"
                            alt="avatar-pic">
                    </div>
                    <div class="openchat-detail-head m-0">
                        <span class="user-name">
                            {{ message.created_by }} 
                        </span>
                        <div class="d-flex openchat-detail">
                            
                            <div class="openchat-box">
                                {% if message.message != '' %}
                                {{ message.message }}
                                {% else %}
                                <img src="{{ message.file.url }}" class="openchat-reply-img">
                                {% endif %}
                            </div>
                            <span class="in-openchat-time text-muted">
                                {{ message.created_at }}
                            </span>
                        </div>
                    </div>
                </div>
                {% else %}
                <!---------- Chat Reply แชทที่ตอบกลับไปในกลุ่ม ---------->
                <div class="openchat-reply-wrapper">
                    <div class="d-flex openchat-detail">
                        <span class="in-reply-time text-muted">
                            <!---------- Delete Message Button ---------->
                            <button type="button" class="btn btn-danger delete-btn text-danger" data-toggle="modal"
                                data-target="#exampleModalCenter-{{ message.id }}">
                                Delete
                            </button><br>
                            <!-- Modal If Delete Message เมื่อมีการกดลบข้อความ-->
                            <div class="modal fade" id="exampleModalCenter-{{ message.id }}" tabindex="-1" role="dialog"
                                aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                                <div class="modal-dialog modal-dialog-centered" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title text-danger" id="exampleModalLongTitle">Delete
                                                Message</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            Do you want to delete this message?
                                        </div>
                                        <div class="modal-footer">
                                            <form action="{% url 'openchat:delete_message' openchat_id=openchat.id message_id=message.id %}" method="POST">
                                                {% csrf_token %}

                                                <button type="button" class="btn btn-secondary"
                                                    data-dismiss="modal">Cancel</button>
                                                <button class="btn btn-danger" id="deleteMessage" value="id">Delete</button>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {{ message.created_at }}
                        </span>
                        <div class="openchat-reply">
                            <p class="openchat-reply-msg">
                                {% if message.message != '' %}
                                {{ message.message }}
                                {% else %}
                                <img src="{{ message.file.url }}" class="openchat-reply-img">
                                {% endif %}
                            </p>
                            <!-- <img src="{% static 'openChat/img/image.jpg' %}" class="openchat-reply-img"> -->
                        </div>
                    </div>
                </div>
                {% endif %}
                {% endfor %}
            </div>

            <!---------- Chat Input กล่องส่งข้อความ ---------->
            <form action="{% url 'openchat:view_openchat' openchat_id=openchat.id %}" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="input-openchat">
                    <div class="input-openchat-box">
                        <label for="upload-img" class="upload-img">
                            <i class="fa-regular fa-image"></i>
                            <input type="file" id="upload-img" name="img" accept="image/*" style="display:none" multiple>
                        </label>
                        <input type="text" placeholder="What's happening?" name="message" id="chat-message-input" class="input">
                    </div>
                    <button type="submit" id="chat-message-submit"><i class="fa-solid fa-paper-plane"></i></button>
                </div>
            </form>
        </div>
    </div>

    {{ openchat.id|json_script:"room-name" }}
    {{ user.username|json_script:"user-name" }}

    <script>
        function format(date) {
            var hours = date.getHours();
            var minutes = date.getMinutes();

            if (hours < 10) {
                hours = '0' + hours;
            }

            if (minutes < 10) {
                minutes = '0' + minutes;
            }

            var time = hours + ':' + minutes;

            return time;
        }

        let scroll_to_bottom = document.getElementById('chat-log');
        setTimeout(() => {
            scroll_to_bottom.scrollTop = scroll_to_bottom.scrollHeight;
        }, 500);

        const roomName = JSON.parse(document.getElementById('room-name').textContent);
        const userName = JSON.parse(document.getElementById('user-name').textContent);

        const chatSocket = new WebSocket(
            'ws://'
            + window.location.host
            + '/ws/openchat/'
            + roomName
            + '/'
        );

        chatSocket.onmessage = function(e) {
            console.log('onmessage')
            let data = JSON.parse(e.data);
            console.log(data)
            data.timestamp = format(new Date)

            if (data.message || data.file) {
                let html = '';

                if (data.new_date != null) {
                    html += '<div class="date">' +
                                '<span class="date-time text-muted">' + data.new_date + '</span>' +
                            '</div>';
                }

                let message_part = '';
                if (data.message != '') {
                    message_part = data.message;
                } else {
                    message_part = '<img src=' + data.file +' class="openchat-reply-img">'
                }

                console.log(message_part)

                if (data.username == userName) {
                    html += '<div class="openchat-reply-wrapper">' +
                                '<div class="d-flex openchat-detail">' +
                                    '<span class="in-reply-time text-muted">' +
                                        '<button type="button" class="btn btn-danger delete-btn text-danger" data-toggle="modal" data-target="#exampleModalCenter-{{ message.id }}">' +
                                            'Delete' +
                                        '</button><br>' +
                                        '<div class="modal fade" id="exampleModalCenter-{{ message.id }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">' +
                                            '<div class="modal-dialog modal-dialog-centered" role="document">' +
                                                '<div class="modal-content">' +
                                                    '<div class="modal-header">' +
                                                        '<h5 class="modal-title text-danger" id="exampleModalLongTitle">Delete Message</h5>' +
                                                        '<button type="button" class="close" data-dismiss="modal" aria-label="Close">' +
                                                            '<span aria-hidden="true">&times;</span>' +
                                                        '</button>' +
                                                    '</div>' +
                                                    '<div class="modal-body">' +
                                                        'Do you want to delete this message?' +
                                                    '</div>' +
                                                    '<div class="modal-footer">' +
                                                        '<button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>' +
                                                        '<button class="btn btn-danger" id="deleteMessage" value="id">Delete </button>' +
                                                    '</div>' +
                                                '</div>' + 
                                            '</div>' +
                                        '</div>' +
                                        data.timestamp +
                                    '</span>' +
                                    '<div class="openchat-reply">' +
                                        message_part +
                                    '</div>' +
                                '</div>' +
                            '</div>';
                } else {
                    html += '<div class="openchat">' + 
                                '<div class="img-wrapper-openchat">' + 
                                    '<img src="' + data.profile_image + '" width="40px" class="avatar-pic" alt="avatar-pic">' + 
                                '</div>' +
                                '<div class="openchat-detail-head">' +
                                    '<span class="user-name">' +
                                        data.username +
                                    '</span>' +
                                    '<div class="d-flex openchat-detail">' +
                                        '<div class="openchat-box">' +
                                            message_part +
                                        '</div>' +
                                        '<span class="in-openchat-time text-muted">' +
                                            data.timestamp +
                                        '</span>' +
                                    '</div>' +
                                '</div>' +
                            '</div>';
                }

                document.querySelector('#chat-log').innerHTML += html;

                let lastest_chat = '';
                if (data.username != userName) {
                    lastest_chat += userName + ': ';
                }

                if (data.message) {
                    document.getElementById('lastest_chat-' + roomName).textContent = lastest_chat + data.message + '...';
                } else {
                    document.getElementById('lastest_chat-' + roomName).textContent = lastest_chat + 'sent file...';
                }
                
                
            } else {
                console.log('The message was empty!')
            }  

            setTimeout(() => {
                scroll_to_bottom.scrollTop = scroll_to_bottom.scrollHeight;
            }, 500);
        };

        chatSocket.onclose = function(e) {
            console.error('Chat socket closed unexpectedly');
        };

        document.querySelector('#chat-message-input').focus();

        // document.querySelector('#chat-message-submit').onclick = function(e) {
        //     e.preventDefault();

        //     const messageInputDom = document.querySelector('#chat-message-input');
        //     const message = messageInputDom.value;

        //     const fileInputDom = document.querySelector('#upload-img');
        //     const files = fileInputDom.files;

        //     if (message != '') {
        //         chatSocket.send(JSON.stringify({
        //             'message': message,
        //             'file': '',
        //             'username': userName,
        //             'room': roomName
        //         }));
        //     }

        //     for (let i = 0; i < files.length; i++) {
        //         let file = fileInputDom.files[i];
        //         var reader = new FileReader();
        //         reader.readAsDataURL(file);

        //         reader.onload = function() {
        //             var dataURL = reader.result;

        //             chatSocket.send(JSON.stringify({
        //                 'message': '',
        //                 'file': dataURL,
        //                 'username': userName,
        //                 'room': roomName
        //             }));
        //         };
        //     }
            
        //     messageInputDom.value = '';
        //     fileInputDom.value = '';

        //     return false;
        // };

        // $(document).on('click', '.deleteMessage', function () {
        //     console.log('try to delete');
        //     var url = "{% url 'openchat:delete_message' openchat_id=1 message_id=2 %}";
        //     var id = $(this).attr('id');

        //     // Construct the full URL with "id"
        //     document.location.href = url.replace('1', roomName);
        //     document.location.href = url.replace('2', id);
        // });
    </script>
</div>
{% endblock %}